{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script>
        (function ($) {
            $(function () {
                const host = $("#id_host");
                const fqdn = $("#id_fqdn");
                const service = $("#id_service");
                const username = $("#id_username");

                let serviceMap = [];
                {% for us in updateServices %}
                    serviceMap["{{ us.name }}"] = {% if us.username_is_fqdn %}true{% else %}false{% endif %};
                {% endfor %}

                let hostOldValue = host.prop(host.prop('selectedIndex')).label;
                let usernameIsFqdn = false;

                // Change fqdn when host is changed
                host.change(function () {
                    if (this.selectedIndex === 0)
                        return;

                    const newValue = this[this.selectedIndex].label;

                    if (fqdn.val() === "" || fqdn.val() === hostOldValue)
                        fqdn.val(newValue);

                    hostOldValue = newValue;
                });

                // Enable/Disable username field according to selected service
                function updateUsernameField() {
                    if (service.selectedIndex === 0) {
                        username.prop("disabled", false);
                        return;
                    }

                    const serviceName = service.prop(service.prop('selectedIndex')).label;
                    username.prop("disabled", serviceMap[serviceName]);
                    username.val(fqdn.val());
                    usernameIsFqdn = serviceMap[serviceName];
                }

                service.change(updateUsernameField);

                // Change username to fqdn if usernameisfqdn is enabled (only cosmetic)
                fqdn.change(function () {
                    if (usernameIsFqdn)
                        username.val(this.value);
                });

                updateUsernameField();
            });
        })(django.jQuery);
    </script>
{% endblock %}